# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin-debug/DebugHostInfo.xml
bin-debug/Discourse-app.xml
bin-debug/Discourse2.swf
bin-debug/Discourse.swf
bin-debug/Discourse3-app.xml
bin-debug/Discourse2-app.xml
bin-debug/Discourse3.apk
bin-debug/Discourse3.swf
bin-debug/resources/sounds/tick.mp3
bin-debug/resources/sounds/beep.mp3
